#editor {
	height: 95%;
	width : 100%;
}
#codeArea {
	height: 100%;
	width : 100%;
}
.CodeMirror{
	height: 100% !important;
}
.CodeMirror-matchingbracket {
	outline: 1px solid gray;
	color: black !important;
}
.CodeMirror-selected {
	background:#D3D3C9 !important;
}
#buttonArea {
	height: 5%;
}
#treePanel{
	height:100%;
}
